:root {
    --fx-width-raw: 48;
    --fx-width: calc(var(--fx-width-raw) * 1px);
    --ui-dark: hsla(0, 0%, 10%, 1);
    --ui-light: hsla(0, 0%, 90%, 1);
    --ui-light-secondary: hsla(0, 0%, 60%, 1);
    --ui-light-tertiary: hsla(0, 0%, 40%, 1);
}

@font-face {
    font-family: "Input Mono";
    src: url(./input_mono_regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    -webkit-app-region: drag;
    background: var(--ui-dark);
    color: var(--ui-light);
    font-family: "Input Mono";
    font-size: 14px;
    margin: 20px;
    width: 500px;
}

.command {
    margin: 10px 0;

    &__input {
        background: var(--ui-dark);
        border: 1px solid var(--ui-light);
        font-family: "Input Mono";
        font-size: 16px;
        color: 1px solid var(--ui-light);
        width: 100%;
    }
}

.log {
    height: 300px;
    overflow: scroll;
    white-space: pre;
    width: 100%;
}

.track {
    column-gap: 10px;
    display: flex;
    flex-direction: row;
    height: 18px;

    &__bang,
    &__channel,
    &__num,
    &__octave {
        width: 10px;
    }

    &__note {
        width: 20px;
    }

    &__bang {
        color: var(--ui-dark);

        &--active {
            color: var(--ui-light);
        }
    }

    &__delay,
    &__reverb,
    &__gain {
        width: var(--fx-width);
    }

    &__file {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 150px;
        white-space: nowrap;
    }

    &__send {
        border: 1px solid var(--ui-light);
        display: inline-block;
        height: 10px;
        margin-top: 3px;
        width: var(--fx-width);
    }

    &__filter {
        display: inline-block;
        height: 10px;
        width: var(--fx-width);
    }

    &__filter-vis {
        background: var(--ui-dark);
        border-right: 1px solid var(--ui-light-tertiary);
        border-left: 1px solid var(--ui-light-tertiary);
    }
}

.tracks {
    &__header {
        border-bottom: 1px solid var(--ui-light);
        color: var(--ui-light-secondary);
        height: 22px;
        margin-bottom: 6px;

        * {
            color: var(--ui-light-secondary);
        }
    }
}


.filter-curve {
    fill: none;
    stroke: var(--ui-light);
    stroke-width: 1.2px;
}

.bpm {
    margin: 6px 0;
    white-space: pre;
}

.hidden {
    display: none;
}
